spring:
  data:
    mongodb:
      # CHANGE 'mongo' TO 'localhost'
      uri: mongodb://localhost:27017/whatsapp-lite
  redis:
    # CHANGE 'redis' TO 'localhost'
    host: localhost
    port: 6379
server:
  port: 8080
logging:
  level:
    root: INFO
    com.example: DEBUG